@font-face {
       font-family: gandom;
       src: url(../fonts/Gandom.woff);
}
*{
       margin: 0;
       padding: 0;
}
body{
       font-family: gandom;
       overflow-x: hidden;
       width: 100vw;
}
a{
       text-decoration: none;
}
ul{list-style: none;}
.navbar-toggle{
       position: fixed;
       top: 3vh;
       right: 5vw;
       font-size: 2rem !important;
       z-index: 3;
       color: #ffffffc5;
       display: none !important;
       cursor: pointer;
}
.d-flex{
       display: flex;
}
.navbar-clickable-item{
       position: fixed;
       top: 2vh;
       right: 4vw;
       width: 8%;
       height: 8vh;
    opacity: 0;
     display: none !important;
       border: 0;
       z-index: 4; 
       cursor: pointer;
}
.welcome-note{
       position: absolute;
       top: 20vh;
       width: 100vw;
       font-size: 2.5rem;
       color: #fff;
       text-align: center;
}
//////////////////////// navbar start
nav{
       position: fixed;
       top: 0;
       width: 100%;
       height: auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
       padding-top: 3vh;
       background-color: rgba(128, 128, 128, 0.523);
       z-index: 2;
}
.logo{
       color: #ffffffe2;
       font-size: 1.8rem;
       margin-right: 5vw;
}
.logo-and-account-item-container{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       width: 25%;
       i{
              color: #ffffffe2;
              font-size: 1.5rem;
              cursor: pointer;
              margin-right: 2vw;
       }
}
.account-item{
       position: relative;
       color: #ffffffe2;
         &:hover{
       .account-nav-item{
              top: 25;
       }
           }
}
.account-nav-item{
       position: absolute;
       right: -5;
       top: -2000;
       transition: all .7s;

       li{
              padding: 1vh 1vw;
              width: 100%;
              border-bottom: 2px solid rgb(210, 205, 205);
              a{
                     color: #fff;
              }
       }
}
.search-box{
       position: relative;
       width: 20% !important;
       margin-left: 5vw;
       input{
              width: 100%;
              padding: .7vh 1vw;
              font-size: 1.2rem;
              border-radius: .5vw;
              border: 0;
              &:focus{
                    box-shadow: 0px 0px 10px 2px rgba(21, 107, 178, 0.995);
              }
       }
       button{
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              border-top-left-radius: .5vw;
              border-bottom-left-radius: .5vw;
              width: 10%;
              background-color: transparent;
              border: 0;
              cursor: pointer;
              outline: 0;

              i{
                     font-size: 1.2rem;
              }
       }

}

.navlinks-container{
       display: flex;
       width: 50%;
       margin-top: 2vh;
       justify-content: center;
       li{
              color: #ffffffe2;
              font-size: 1.3rem;
              font-weight: 500;
              padding: 2vh 1vw !important;
              cursor: pointer;   
              height: 100%;
              transition: all .5s;
              &:hover{
              background-color: #67683d4f;
              border-radius: .5vw;
              transform: translateY(-.5vw);
              ul{
                     width: 150%;
              }
              }

       }
}

.menu-products-item-container{
position: relative;
       ul{
              width: 150%;
              position: absolute;
              top: -45vh;
              right: 0;
              height: 10%;
              transition: all .5s;
       }
    li{
    width: 100%; 
    border-bottom: 2px solid #ffffffe2;
       a{
              color: #ffffffe2;
       }
    }

    &:hover{
       ul{
              height: auto;
              top: 45;
       }
    }
}


header{
       width: 100%;
       height: 100vh;
       position: relative;
       overflow: hidden;
}
.header-bg{
       width: 100%;
       height: 100%;
       position: absolute;
       background: url(../pics/bg/pexels-life-of-pix-8892.jpg);
       background-size: cover;
       filter: grayscale(50%);
       z-index: -1;
}
.header-container{
       width: 100%;
       height: 80%;
       padding-top: 20vh;
       display: flex;
       justify-content: space-between;
       align-items: center;
       img{
              width: 40%;
              height: 50vh;
             margin-left: 5vw;
             border-radius: 2vw;
             box-shadow: -5px 5px 10px 1px white;
       }
}
.header-off-box{
       width: 40%;
       padding: 0 10%;
       height: 100%;
       margin-top: 10vh;
       h6{
              color: #ffffffe2;
              font-size: 2.9rem;
              margin-top: 10vh;
       }
       p{
              margin-top: 20%;
              color: #ffffffe3;
              font-size: 1.2rem;
              line-height: 3.5vh;
       }
       button{
              margin-top: 10vh;
             padding: 1vh 1.5vw;
             font-size: 1.2rem;
             border: 1px solid whitesmoke;
             background: transparent;
             color: #fffffffd;
             transition: all .5s;
             cursor: pointer;
             &:hover{
              background-color: #ffffff62;
              color: rgba(14, 81, 135, 0.995);
             }
       }
}

////////////////////start suggest section////////////
.suggest{
       width: 100vw;
       height: 35vh;
       display: flex;
}
.suggest-pic-box{
       width: 33%;
       height: 100%;
       position: relative;
       img{
              width: 100%;
              height: 100%;
              object-fit: cover;
       }
}
.suggest-box-text{
       position: absolute;
       top: 80;
       left: 30;

       h5{
              color: rgb(74, 73, 73);
       }
}
////////////////////end suggest section////////////
/// 
/// top sellers start////////////////
#top-sellers{
       width: 100vw;

       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 5vh !important;
}
.top-sellers-title{
       width: fit-content;
       text-align: center;
       border-bottom: 4px solid gray;
}
.top-seller-boxes-container{
       width: 95%;
       display: flex;
       flex-wrap: wrap;

}
.top-seller-box{
       margin-top: 5vh;
       width: 23%;
       height: 40vh;
       margin-left: .5vw;
       margin-right: .5vw;
       box-shadow: 0px 5px 10px 1px gray;
       border-radius: 1.5vw;
       overflow: hidden;
       background-color: rgba(128, 128, 128, 0.317);
       img{
              width: 100%;
              height: 75%;
       }
}
.top-seller-box-details{
       width: 100%;
       height: 25%;

       .d-flex{
              justify-content: space-around;
              align-items: center;
              h5{
                     margin-right: -5%;
              }
              button{
                     font-size: 1rem;
                     background-color: #48b0c7;
                     padding: .8vh 1vw;
                     color: #fff;
                     border: 0;
                     border-radius: .5vw;
                     cursor: pointer;
                     transition: all .5s;
                     &:hover{
                            background-color: #1c768a;
                     }
       
              }
       }

       h3{
              margin-right: 10%;
              margin-top: 2%;
       }
      
}
/// top sellers end//////////////
/////store pic start
.store-pic{
       margin-top: 10vh;
       width: 100% !important;
       height: 25vh;
       background: url(../pics/bg/pxfuel\ \(2\).jpg);
       background-size: cover;
       background-attachment: fixed;
       display: flex;
       justify-content: center;
       align-items: center;
       p{
              font-size: 2.5rem;
              color: #fff;
       }
    
}
/////store pic end
/// 
/// //new products section start
.new-products{
       @extend #top-sellers
}
.new-product-title{
       @extend .top-sellers-title
}
.new-products-boxes-container{
       @extend .top-seller-boxes-container
}
.new-product-box{
       @extend .top-seller-box
}
.new-product-box-details{
       @extend .top-seller-box-details
}

///////  new product sectio finish///
/// 
/// off and unique st////////
.unique-style{
       width: 100%;
       display: flex;
       margin-top: 10vh;
       height: 30vh;
       background: url(../pics/bg/HD-wallpaper-fashion-models-models-beautiful-girls-female-and-men-casual-clothes-fashion-beautiful-boys.jpg);
       background-size: cover;
       background-attachment: fixed;
}
.unique-style-container{
       width: 100%;
       height: 100%;
       background-color: rgba(128, 128, 128, 0.422);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       h1{
              color: #fff;
       }
       button{
              font-size: 1rem;
              padding: .7vh 1vw;
              border: 0;
              border-radius: .5vw;
              background-color: #48b0c7;
              color: #fff;
              transition: all .5s;
              cursor: pointer;
              &:hover{
                     background-color: #1c768a;
              }
       }
}


/// off and unique finish////////


@media screen and (max-width:1044px){
       .logo-and-account-item-container{width: 50%;}
       .search-box{
              width: 30% !important;}
       .navlinks-container{
              width: 100%;
              justify-content: space-between;
              padding: 0 5vw;
       }
       .menu-products-item-container{
              ul{
                     width: 200% !important;
              }
       }
       .header-container{
              img{
                     height: 30vh !important;
              }
       }
       .header-off-box{
              h6{
                     font-size: 1.6rem;
              }
              p{
                     font-size: 1rem;
              }
       }
       .welcome-note{
              font-size: 2rem;
              top: 25vh;
       }
       .suggest-box-text{
              position: absolute;
              top: 30;
              left: 12;
              h3{
                     font-size: .8rem;
              }
              h5{
                     font-size: .5rem;
              }
       }
       .top-seller-box{
              width: 45% !important;
       }
       .store-pic{
              p{
                     font-size: 1.7rem;
              }
       }
}

@media screen and (max-width:568px){
       nav{
              position: fixed;
              padding-top: 10vh;
              top: -100%;
              transition: all .7s;
       }
       .navbar-clickable-item:checked ~ nav{
               top: 0;
              }

       .navbar-toggle,.navbar-clickable-item{
                     display: block !important;
              }

       .search-box{
              width: 40% !important;
              button{
                     left: 5;
              }
       }
       .navlinks-container{
              // width: 100%;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              // overflow-x: hidden;
              li{
                     width: 40%;

                     ul{
                        background-color: lightskyblue;
                        width: 200% !important;
                        overflow: hidden;
                        border-radius: 1vw;

                        li{
                            width: 100% !important;
                            transition: all .5s;
                            padding-right: 5vw !important;
                            &:hover{
                                   background-color: rgb(43, 121, 147);
                                   color: rgb(7, 82, 107);

                            }
                        }
                     }
              }
       }
       .account-item{
              ul{
                    
                     z-index: 4;
                     border-radius: 1vw;
                     width: 700% !important;
                     right: 0;
                   overflow: hidden;
                     border-radius: 1vw !important;
                     li{
                            transition: all .5s;
                            background-color: lightskyblue;
                            padding: 2vh 4.5vw !important;
                          &:hover{
                               background-color: rgb(44, 104, 123);
                               color: #fff;
                        }
                     }
              }
              &:hover{
                     ul{
                            top: 35 !important;
                     }
              }
       }
              
       .header-container{
              img{
                     height: 30vh !important;
                     margin-top: -12vh;
              }
       }
       .header-off-box{
              h6{
                     font-size: 1rem;
                     margin-top: 0vh !important;
              }
              p{
                     font-size: .7rem;
              }
       }
       .welcome-note{
              font-size: 1rem;
              top: 15vh;
       }
       .top-seller-box{
              h3{
                     font-size: .9rem;
              }
              .d-flex{
                     h5{
                            font-size: .5rem;
                     }
                     button{
                            padding-left: 1vw;
                            padding-right: 1vw;
                     }
                     
              }
       }
       .store-pic{
              p{
                     font-size: 1rem;
              }
       }
}

